/*=============================================
=            TABLE OF CONTENTS            =
 1. Global Styles
 2. Header Styles
 3. Main Styles
  3.1 Worked Sections
  3.2 Why Sections
  3.3 Project Sections
  3.4
  3.5
  3.6 Call Sections
  3.7 Testimonial Section
=============================================*/
/*=============================================
=            1. Global Styles            =
=============================================*/
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

* {
  font-family: "Montserrat";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.btn-custom-success {
  padding: 0.75rem 1.875rem;
  background: #37d592;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.5 ease-in-out;
  transition: opacity 0.5 ease-in-out;
}

.btn-custom-success:hover {
  opacity: 0.8;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.btn-custom-primary {
  padding: 0.75rem 1.875rem;
  background: #05a9f4;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.5 ease-in-out;
  transition: opacity 0.5 ease-in-out;
}

.btn-custom-primary:hover {
  opacity: 0.8;
  color: #fff;
  outline: none;
  cursor: pointer;
}

/* =====  End of 1. Global Styles  ====== */
/* =============================================
=            2. Header Styles            =
============================================= */
#header {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f2f3f6;
}

#header .navbar-custom ul li a.nav-link {
  font-size: 0.875rem;
  font-weight: 600;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

#header .navbar-custom ul li a.nav-link:hover, #header .navbar-custom ul li a.nav-link:focus {
  color: #37d592;
}

#header .navbar-brand img {
  height: 36px;
}

#header .dropdown-menu.dropdown-custom-lan.show {
  border: none;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

#header .dropdown-menu.dropdown-custom-lan.show .dropdown-item {
  padding: 0.5rem;
}

#header .hero-section {
  display: block;
  margin-top: 5rem;
}

#header .hero-section .hero-section-content h1 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
  line-height: 1.4;
  color: #14203c;
}

#header .hero-section .hero-section-content p {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

/* =====  End of 2. Header Styles  ====== */
/* =============================================
=            3.1 Worked Section            =
============================================= */
.worked-section {
  display: block;
  padding: 1.8rem 0;
  background: #fff;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}

.worked-section p {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #ddd;
}

.worked-section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url("../img/curved.svg");
  background-position: bottom center;
  background-size: cover;
  content: "";
  z-index: 5;
}

.worked-section a img {
  width: 50% !important;
  margin: 0 auto;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(0.8);
          filter: grayscale(0.8);
}

/* =====  End of 3.1 Worked Section  ====== */
/* =============================================
=            3.2 Why Sections            =
============================================= */
.why-section {
  display: block;
  width: 100%;
  padding: 8rem 0;
}

.why-section .why-section-content {
  text-align: center;
  max-width: 65%;
  margin: auto;
}

.why-section .why-section-content h3 {
  font-size: 0.875rem;
  color: #05a9f4;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.why-section .why-section-content h1 {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
  color: #14203c;
}

.why-section .why-section-item .item-info {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-section .why-section-item .item-info i {
  color: #37d592;
  font-size: 2rem;
}

.why-section .why-section-item .item-info span {
  margin-left: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.why-section .why-section-item p {
  font-size: 1rem;
  margin-top: 2rem;
}

.why-section .why-section-link {
  margin-top: 5rem;
}

.why-section hr {
  margin-top: 5rem;
}

/* =====  End of 3.2 Why Sections  ====== */
/*=============================================
=            3.3 Project Section            =
=============================================*/
.project-section {
  background: #f2f3f6;
  display: block;
  width: 100%;
  padding: 8rem 0;
}

.project-section .project-section-content {
  margin-bottom: 3rem;
  text-align: center;
  max-width: 60%;
  margin: auto;
  margin-bottom: 2rem;
}

.project-section .project-section-content h3 {
  font-size: 0.875rem;
  color: #05a9f4;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.project-section .project-section-content h1 {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
  color: #14203c;
}

.project-section .project-section-link {
  margin-top: 5rem;
}

.project-section .owl-stage-outer {
  padding: 2rem 0;
}

.project-section .owl-item.active.center .project-section-item-wrapp .front::after {
  visibility: hidden;
}

.project-section .owl-item.active.center .project-section-item-wrapp .front .inner {
  visibility: hidden;
}

.project-section .owl-item.active.center .project-section-item-wrapp:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.project-section .owl-item.active.center .project-section-item-wrapp:hover .back a {
  opacity: 1;
  left: 0;
}

.project-section .owl-item.active.center .project-section-item-wrapp:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.project-section .project-section-item-wrapp {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.project-section .project-section-item-wrapp .front,
.project-section .project-section-item-wrapp .back {
  background-size: cover;
  background-position: center;
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  min-height: 380px;
  height: auto;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5rem;
}

.project-section .project-section-item-wrapp .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #cedce7;
}

.project-section .project-section-item-wrapp .back .inner p {
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  opacity: 0.8;
}

.project-section .project-section-item-wrapp .back .inner a {
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 50px;
  padding: 0.5rem 1.2rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  opacity: 0;
  left: -100%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.project-section .project-section-item-wrapp .back .inner img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  height: 40px;
  margin-bottom: 1rem;
}

.project-section .project-section-item-wrapp .inner {
  -webkit-transform: translateY(-50%) translateZ(60px);
          transform: translateY(-50%) translateZ(60px);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-perspective: inherit;
          perspective: inherit;
  z-index: 2;
}

.project-section .project-section-item-wrapp .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.project-section .project-section-item-wrapp .front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .5;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.project-section .project-section-item-wrapp .front .front-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-section .project-section-item-wrapp .front .front-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top left;
     object-position: top left;
  border-radius: 5px;
}

.project-section .project-section-item-wrapp .front .inner p {
  color: #fff;
  opacity: 0.8;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  position: relative;
}

.project-section .project-section-item-wrapp .front .inner p:after {
  content: '';
  width: 4rem;
  height: 1px;
  position: absolute;
  background: #37d592;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.project-section .project-section-item-wrapp .front .inner span {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

.project-section .project-section-item-wrapp .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*=====  End of 3.3 project Section  ======*/
/*=============================================
=            3.5 startegy Section            =
=============================================*/
.startegy-section {
  display: block;
  width: 100%;
  padding: 8rem 0;
}

.startegy-section .startegy-section-title {
  max-width: 60%;
  margin: auto;
  margin-bottom: 5rem;
  text-align: center;
}

.startegy-section .startegy-section-title h3 {
  font-size: 0.875rem;
  color: #05a9f4;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.startegy-section .startegy-section-title h1 {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
  color: #14203c;
}

.startegy-section .startegy-section-item {
  margin-top: 5rem;
}

.startegy-section .startegy-section-item i {
  color: #37d592;
  font-size: 2rem;
}

.startegy-section .startegy-section-item .startegy-section-item-content {
  padding: 1.2rem;
}

.startegy-section .startegy-section-item .startegy-section-item-content h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
}

.startegy-section .startegy-section-item .startegy-section-item-content p {
  font-size: 1rem;
  word-break: break-all;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}

.brb {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.bb {
  border-bottom: 1px solid #ccc;
}

.br {
  border-right: 1px solid #ccc;
}

/*=====  End of 3.4 startegy Section  ======*/
/*=============================================
=            3.5 Achive Section            =
=============================================*/
.achive-section {
  display: block;
  width: 100%;
  padding: 8rem 0;
  background: -webkit-gradient(linear, left top, right top, from(#934BFF), to(#934BFF));
  background: linear-gradient(to right, #934BFF, #934BFF);
}

.achive-section .achive-section-content {
  max-width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 3rem;
}

.achive-section .achive-section-content h3 {
  font-size: 0.875rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.achive-section .achive-section-content h1 {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
  color: #fff;
}

.achive-section .achive-section-content p {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.achive-section .achive-section-item {
  padding: 0 2rem;
  border-right: 1px dotted #37d592;
}

.achive-section .achive-section-item.no-b-r {
  border-right: none;
}

.achive-section .achive-section-item span {
  color: #37d592;
  font-weight: 600;
  font-size: 2rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.achive-section .achive-section-item h3 {
  font-size: 0.875rem;
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
}

/*=====  End of 3.5 Achive Section  ======*/
/*=============================================
=            3.6 Call Section            =
=============================================*/
.call-section {
  padding: 4rem 0;
}

.call-section .call-section-bg {
  padding: 3rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(21deg, #17B1F4 0%, #3FC2F2 100%);
}

.call-section .call-section-bg .call-section-content {
  color: #fff;
}

.call-section .call-section-bg .call-section-content h1 {
  font-size: 2rem;
  font-weight: 600;
}

.call-section .call-section-bg .call-section-content p {
  opacity: 0.8;
  font-size: 500;
}

/*=====  End of 3.6 Call Section  ======*/
/*=============================================
=            3.7 Testimonial Section            =
=============================================*/
.testi-section {
  display: block;
  width: 100%;
  padding: 8rem 0;
}

.testi-section .owl-stage-outer {
  padding: 2rem 0;
}

.testi-section .owl-item .testi-section-item {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
}

.testi-section .owl-item.center .testi-section-item {
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  background: #ebf5ff;
}

.testi-section .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testi-section .owl-nav button {
  position: relative;
  z-index: 1;
  background: #37d592 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff !important;
  -webkit-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
  margin: 0 1rem;
}

.testi-section .owl-nav button span {
  font-size: 1.5rem;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.testi-section .owl-nav button.disabled {
  display: none;
}

.testi-section .owl-nav button:hover, .testi-section .owl-nav button:focus {
  outline: none;
}

.testi-section .testi-section-content {
  max-width: 50%;
}

.testi-section .testi-section-content h3 {
  font-size: 0.875rem;
  color: #05a9f4;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.testi-section .testi-section-content h1 {
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
  color: #14203c;
}

.testi-section .testi-section-item {
  background: #ebf5ff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.testi-section .testi-section-item .testi-section-item-content span.quote {
  font-size: 2rem;
  font-weight: 600;
  color: #ddd;
}

.testi-section .testi-section-item .testi-section-item-content p {
  font-size: 1rem;
  text-align: left;
  line-height: 1.4;
  font-weight: 600;
  color: #14203c;
  opacity: 0.5;
  font-style: italic;
}

.testi-section .testi-section-item .testi-author-info span i {
  color: gold;
  font-size: 0.75rem;
}

.testi-section .testi-section-item .testi-author-info p {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.testi-section .testi-section-item .testi-author-info span {
  font-size: 0.875rem;
  color: #37d592;
  text-transform: capitalize;
  font-weight: 600;
}

/*=====  End of 3.7 Testimonial Section  ======*/
/*=============================================
=            Footer            =
=============================================*/
.footer-section {
  padding: 4rem 0;
}

.footer-section .footer-about img {
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 2rem;
}

.footer-section .footer-about p {
  font-size: 0.875rem;
  opacity: 0.8;
  font-weight: 600;
  text-align: justify;
  color: #69707a;
}

.footer-section .footer-location p {
  font-size: 0.875rem;
  opacity: 0.8;
  font-weight: 600;
  text-align: justify;
  color: #69707a;
}

.footer-section .footer-location span {
  color: #69707a;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.75rem 0;
}

.footer-section .footer-location span.mail {
  color: #37d592;
}

.footer-section .footer-location span.mail i {
  margin-right: 1rem;
}

.footer-section .footer-location span.phone i {
  color: #37d592;
  margin-right: 1rem;
}

.footer-section .footer-location span:first-child {
  color: #37d592;
}

.footer-section h3 {
  font-size: 1rem;
  font-weight: 800 !important;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.footer-section ul li {
  margin-bottom: 0.875rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.footer-section ul li a {
  font-size: 0.875rem;
  font-weight: 600;
  color: #69707a;
}

.footer-section ul li:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.footer-section ul li:hover a {
  color: #37d592;
}

.footer-section p.copyright {
  margin: 2rem 0;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  color: #14203c;
  opacity: 0.5;
  letter-spacing: 0.0125rem;
}

/*=====  End of Footer  ======*/
/* Imports mixin */
/*desktops - higher resolution*/
/*laptops, desktops*/
/*tablets, ipads (portrait)*/
/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .footer-section .footer-about {
    margin-bottom: 2rem;
  }
  .footer-section .footer-about img {
    display: block;
    width: 50%;
    margin: 0 auto;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 2rem;
  }
  .footer-section .footer-about p {
    text-align: center;
  }
  .footer-section div {
    margin-bottom: 1rem;
  }
  .footer-section div h3 {
    margin-bottom: 2rem;
  }
}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
  body,
  html {
    font-size: 14px;
  }
  .footer-section .footer-about {
    margin-bottom: 2rem;
  }
  .footer-section .footer-about img {
    display: block;
    width: 50%;
    margin: 0 auto;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 2rem;
  }
  .footer-section .footer-about p {
    text-align: center;
  }
  .footer-section div {
    margin-bottom: 1rem;
  }
  .footer-section div h3 {
    margin-bottom: 2rem;
  }
}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px) {
  body,
  html {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */